{% extends "modelo.html" %}

{% block title %}Lista de Funcionários{% endblock %}

{% block style %}{% endblock %}

  
{% block content %}
<div class="Container">
    <div class="col-12">             
        <br>
        <h1>Lista de Funcionários:</h1>
        <br>
        <hr>
        <form action="{{ url_for('funcionario.formCadastroFuncionario') }}" method="POST">
          <button type="submit" src="" class="btn btn-danger">Novo Funcionário</button>
        </form>
        <br>
        <table class="table table-md table-houver table-responsive">
          <thead class="thead-light" >
            <tr>
              <th>#</th>
              <th>Matricula</th>
              <th>Grupo</th>
              <th>Nome</th>
              <th>CEP</th>
              <th>Telefone</th>
              <th>Senha</th>
              <th>Fiador</th>
              <th>Data de Pagamento</th>
            </tr>
          </thead>
          <tbody>
          {% if result %}
          {% for row in result %}
            <tr>
              <th scope='row'> {{ row[0] }}</th>
              <td> {{ row[1] }}</td>
              <td> {{ row[2] }}</td>
              <td> {{ row[3] }}</td>
              <td> {{ row[4] }}</td>
              <td> {{ row[5] }}</td>
              <td> {{ row[6] }}</td>
              <td> {{ row[7] }}</td>
              <td> {{ row[8] }}</td>
              <td>
                <form action="" method='POST' name='editUsuario'>
                  <input type='hidden' name='id_cliente' value=''>
                  <button type='submit' class="btn btn-primary" name='formEditCliente'><i class='fas fa-edit'></i></button>
                </form>
              </td>
              <td>
                <form method='POST' name='deleteProduto' id='deleteProduto'>
                  <input type='hidden' name='id_produto' value=''>
                  <button type='submit' class="btn btn-primary" name='formDeleteProduto'><i class='fas fa-trash'></i></button>
                </form>
              </td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
    </div>
</div>        
{% endblock %}
            
{% block footer %}{% endblock %}
