{% extends 'modelo.html' %}

{% block title %}Cadastro de Funcionário{% endblock %}

{% block style %}{% endblock %}
  
{% block content %}
{% if funcionario.id_funcionario == 0 %}    
<form name="funcionario" method="POST" action="{{ url_for('funcionario.addFuncionario') }}">
{% else %}
<h1>Editar funcionario: {{ funcionario.id_funcionario }}</h1>
<form name="funcionario" method="POST" action="{{ url_for('funcionario.editFuncionario') }}">
{% endif %}  
    <div class="col-10">
        <br>
        <h1>Cadastro de Funcionário:</h1>
        <form name="" method="POST" action="">
        <br>
        <br>
  
    <!--
    <div class="col-10">
      <br>
      <h1>Editar Cliente: </h1>
      <form name="" method="POST" action="">
        <br>
        <br>
   -->

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="id_funcionario">ID:</label>
            <input readonly value="{{ funcionario.id_funcionario }}" class="form-control" type="text" name="id_funcionario" id="id_funcionario">
          </div>
          <div class="form-group col-md-7">
            <label for="nome">Nome:</label>
            <input value="{{ funcionario.nome }}" class="form-control" type="text" name="nome" id="nome" maxlength="100" autofocus required>
          </div>
          <div class="form-group col-md-3">
            <label for="matricula">Matricula:</label>
            <input value="{{ funcionario.matricula }}" class="form-control" type="text" name="matricula" id="matricula" maxlength="10" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="cpf">CPF:</label>
            <input value="{{ funcionario.cpf }}" class="form-control" type="text" name="cpf" id="cpf" maxlength="11" required>
          </div>
          <div class="form-group col-md-5">
            <label for="telefone">Telefone:</label>
            <input value="{{ funcionario.telefone }}" class="form-control" type="text" name="telefone" id="telefone" maxlength="11" required>
          </div>
          <div class="form-group col-md-2">
            <label for="grupo">Grupo:</label>
            <select value="" class="form-control" type="text" name="grupo" id="grupo" required>
              <option value="" name="admin" id="admin">Admin</option>
              <option value="" name="balcao" id="balcao">Balcão</option>
            </select>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="senha">Senha:</label>
            <input value="{{ funcionario.senha }}" class="form-control" type="text" name="senha" id="senha" maxlength="200" required>
          </div>
          <div class="form-group col-md-4">
            <label for="senha">Confirmar senha:</label>
            <input value="{{ funcionario.senha }}" class="form-control" type="text" name="senha" id="senha" maxlength="80" required>
          </div>
          <div class="form-group col-md-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NovaSenhaModal">
              Nova Senha
            </button>
            <!-- Modal -->
            <div class="modal fade" id="NovaSenhaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="NovaSenhaTitulo">Nova senha:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group col-md-10">
                      <label for="senhaAtual">Senha Atual:</label>
                      <input value="{{ funcionario.senha }}" class="form-control" type="text" name="senhaAtual" id="senhaAtual" maxlength="200" autofocus required>
                    </div>
                    <div class="form-group col-md-10">
                      <label for="novaSenha">Nova senha:</label>
                      <input value="{{ funcionario.senha }}" class="form-control" type="text" name="novaSenha" id="novaSenha" maxlength="200" required>
                    </div>
                    <div class="form-group col-md-10">
                      <label for="confirmarSenha">Confirmar senha:</label>
                      <input value="{{ funcionario.senha }}" class="form-control" type="text" name="confirmarSenha" id="confirmarSenha" maxlength="200" required>
                    </div>
                    <div class="form-group col-md-10">
                      <button type="button" class="btn btn-primary">Salvar</button>    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-row">
          <div class="card col-md-12">
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="fiador">compra_fiado:</label>
                  <select value="compra_fiado" class="form-control" type="text" name="compra_fiado" id="compra_fiado" required>
                    <option value="{{ funcionario.compra_fiado }}" name="sim" id="admin">Não</option>
                    <option value="{{ funcionario.compra_fiado }}" name="nao" id="balcao">Sim</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Data de Pagamento:</label>
                  <input value="{{ funcionario.data_pagamento }}" class="form-control" type="date" name="dataPagamento" id="dataPagamento">
                </div>
              </div>
            </div>
          </div>  
        </div>
        <br><br><br>
        {% if funcionario.id_funcionario == 0 %}
          <div class="col">
               <button type='submit' name='salvaInserefuncionarioDB' id='salvaInserefuncionarioDB' class="btn btn-outline-success"><i class="fas fa-save"></i>Salvar</button>             
           </div>
        {% else %}                                    
          <div class="col"> 
            <div class="form-group">
              <button type='submit' name='salvaEditafuncionarioDB' id='salvaEditafuncionarioDB' class="btn btn-outline-success"><i class="fas fa-save"></i>Salvar</button>
                 <button type='submit' name='salvaExcluifuncionarioDB' id='salvaExcluifuncionarioDB'class="btn btn-outline-danger"><i class="far fa-trash-alt"></i>Excluir</button>
            </div>                      
          </div> 
        {% endif %}
      </form>
      <br>
      <br>
    </div>
{% endblock %}
            
{% block footer %}{% endblock %}

{% block js %}
  <script>
    // Sempre pega a url da barra de endereço
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    
    $(document).ready(function () {
      //Verifica se o login existe ou não
      $('#login').keyup(function (e) {
        if (e.target.value.length > 0) {
          $.post($SCRIPT_ROOT + "", {
            login: $('#login').val()
          }, function (data) {
            if (data.erro) {
              console.log(data.mensagem_exception);
            }
            else if (data.login_existe) {
              $('#login').addClass('is-invalid').removeClass('is-valid');
              $("button[name='salvaFuncionarioDB']").attr('disabled', true);
            }
            else {
              $('#login').addClass('is-valid').removeClass('is-invalid');
              $("button[name='salvaFuncionarioDB']").attr('disabled', false)
            }
          })
        }
        else {
          $('#login').removeClass('is-valid').removeClass('is-invalid');
        }
      })
    })

      //Mascaras 
      $(document).ready(function(){
	  $("#cep").mask("99.999-999");
    $("#telefone").mask("(99) 9999-99999");
    });
    
    </script>
{% endblock %}