{% extends "modelo.html" %}
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Cadastro de Cliente{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='coffee.ico') }}"/>
{% endblock %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pastelaria do zé</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home.home') }}">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cliente.formListaClientes') }}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('produto.formListaProduto') }}">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pedido.formListaPedido') }}">Pedidos</a>
        </li>
      </ul>
    </div>
  </nav> 
  {% block content %}
    {% if cliente.id_cliente == 0 %}
    <div class="col-10">
        <br>
        <h1>Cadastro de Clientes</h1>
        <form name="cliente" method="POST" action="{{ url_for('cliente.addCliente') }}">
        <br>
        <br>
  
    {% else %}
      <h1>Editar Cliente: {{ cliente.id_cliente }}</h1>
      <form name="cliente" method="POST" action="{{ url_for('cliente.editCliente') }}">
    {% endif %}

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="id_cliente">Código:</label>
            <input readonly value="{{ cliente.id_cliente }}" class="form-control" type="text" name="id_cliente" id="id_cliente">
          </div>
          <div class="form-group col-md-6">
            <label for="nome">Nome:</label>
            <input value="{{ cliente.nome }}" class="form-control" type="text" name="nome" id="nome" autofocus="">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="endereco">Endereço:</label>
            <input value="{{ cliente.endereco }}" class="form-control" type="text" name="endereco" id="endereco">
          </div>
          <div class="form-group col-md-6">
            <label for="numero">Número:</label>
            <input value="{{ cliente.numero }}" class="form-control" type="number" name="numero" id="numero">
          </div>
        </div>
        <div class="form-group">
          <label for="observacao">Observações:</label>
          <input value="{{ cliente.observacao }}" class="form-control" type="text" name="observacao" id="observacao">
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="cep">Cep:</label>
            <input value="{{ cliente.cep }}" class="form-control" type="text" name="cep" id="cep">
          </div>
          <div class="form-group col-md-4">
            <label for="bairro">Bairro:</label>
            <input value="{{ cliente.bairro }}" class="form-control" type="text" name="bairro" id="bairro">
          </div>
          <div class="form-group col-md-4">
            <label for="cidade">Cidade:</label>
            <input value="{{ cliente.cidade }}" class="form-control" type="text" name="cidade" id="cidade">
          </div>
          <div class="form-group col-md-3">
            <label for="estado">Estado:</label>
            <select name="estado" class="form-control" id="estado"><option selected>{{ cliente.estado }}</option></select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telefone">Telefone:</label>
            <input value="{{ cliente.telefone }}" class="form-control" type="tel" name="telefone" id="telefone">
          </div>
          <div class="form-group col-md-6">
            <label for="email">Email:</label>
            <input value="{{ cliente.email }}" class="form-control" type="email" name="email" id="email">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-1">
            <label for="login">Login:</label>
            <input value="{{ cliente.login }}" class="form-control" type="text" name="login" id="login">
          </div>
          <div class="form-group col-md-5">
            <label for="senha">Senha:</label>
            <input value="{{ cliente.senha }}" class="form-control" type="password" name="senha" id="senha">
          </div>
          <div class="form-group col-md-6">
            <label for="grupo">Grupo:</label>
            <select name="grupo" class="form-control" id="grupo"><option selected>{{ cliente.grupo }}</option></select>
          </div>
        </div>
        <button type='submit' class="btn btn-primary" name='salvaInsereUsuarioDB' id='salvaInsereUsuarioDB'>Salvar</button>
        <button type='submit' class="btn btn-primary" name='salvaEditaUsuarioDB' id='salvaEditaUsuarioDB'>Editar</button>
        <button type='submit' class="btn btn-primary" name='salvaExcluiUsuarioDB' id='salvaExcluiUsuarioDB'>Excluir</button>
      </form>
      <br>
      <br>
    </div>
  {% endblock %}
            
  {% block footer %}
  <footer>
    <div class="col-8">
     &copy; Copyright 2020 by <a href="http://127.0.0.1:5000/">Eduardo Ortiz</a>.
    </div>
  </footer>
  {% endblock %}
  <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>
</body>
</html>