{% extends 'modelo.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block style %}{% endblock %}

  
{% block content %}
    <div class="Container">
      <div class="col-12">             
        <br>
        <h1>Histórico de Clientes</h1>
        <br>
          <form action="{{ url_for('cliente.formCliente') }}" method='POST' name='editUsuario'>
              <button class="btn btn-outline-danger" type='submit' name='formNovoCliente'><i class='fas fa-plus-circle'></i>Novo Cliente</button>
          </form>
        <br>   
        <table class="table table-md table-houver table-responsive">
          <thead class="thead-light" >
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Data de Pagamento</th>
              <th>Telefone</th>
              <th>Senha</th>
              <th>Fiador</th>
            </tr>
          </thead>
          <tbody>
          {% if result %}
          {% for row in result %}
            <tr>
              <th scope='row'> {{ row[0] }}</th>
              <td> {{ row[1] }}</td>
              <td> {{ row[2] }}</td>
              <td> {{ row[3] }}</td>
              <td> {{ row[4] }}</td>
              <td> {{ row[5] }}</td>
              <td> {{ row[6] }}</td>
              <td>
                <form action='{{ url_for('cliente.formEditCliente') }}' method='POST' name='editUsuario'>
                    <input type='hidden' name='id_cliente' value='{{ row[0] }}'>
                    <button type='submit' name='formEditCliente'><i class='fas fa-edit'></i></button>
                </form>
              </td>
              <td>
                <form method='POST' name='deleteProduto' id='deleteProduto'>
                  <input type='hidden' name='id_produto' value=''>
                  <button type='submit' class="btn btn-primary" name='formDeleteProduto'><i class='fas fa-trash'></i></button>
                </form>
              </td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
            
{% block footer %}{% endblock %}
