{% extends 'modelo.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block style %}{% endblock %}
  
{% block content %}
{% if cliente.id_cliente == 0 %}    
    <form name="cliente" method="POST" action="{{ url_for('cliente.addCliente') }}">
{% else %}
    <h1>Editar Cliente: {{ cliente.id_cliente }}</h1>
    <form name="cliente" method="POST" action="{{ url_for('cliente.editCliente') }}">
{% endif %}

    <div class="col-10">
        <br>
        <h1>Cadastro de Clientes:</h1>
        <form name="cliente" method="POST" action="">
        <br>
        <br>
  
    <!--
    <div class="col-10">
      <br>
      <h1>Editar Cliente: </h1>
      <form name="cliente" method="POST" action="">
        <br>
        <br>
        -->

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="id_funcionario">ID:</label>
            <input readonly value="{{ cliente.id_cliente }}" class="form-control" type="text" name="id_cliente" id="id_cliente">
          </div>
          <div class="form-group col-md-10">
            <label for="nome">Nome:</label>
            <input value="{{ cliente.nome }}" class="form-control" type="text" name="nome" id="nome" maxlength="100" autofocus required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="cpf">CPF:</label>
            <input value="{{ cliente.cpf }}" class="form-control" type="text" name="cpf" id="cpf" maxlength="11" required>
          </div>
          <div class="form-group col-md-4">
            <label for="telefone">Telefone:</label>
            <input value="{{ cliente.telefone }}" class="form-control" type="text" name="telefone" id="telefone" maxlength="11" required>
          </div>
          <div class="form-group col-md-4">
            <label for="data_pagamento">Data de Pagamento:</label>
            <input value="{{ cliente.data_pagamento }}" class="form-control" type="date" name="data_pagamento" id="data_pagamento" required>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="senha">Senha:</label>
            <input value="{{ cliente.senha }}" class="form-control" type="text" name="senha" id="senha" maxlength="200" required>
          </div>
          <div class="form-group col-md-4">
            <label for="senha">Confirmar senha:</label>
            <input value="{{ cliente.senha }}" class="form-control" type="text" name="senha" id="senha" maxlength="80" required>
          </div>
          <div class="form-group col-md-12">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NovaSenhaModal">
              Nova Senha
            </button>
            <!-- Modal -->
            <div class="modal fade" id="NovaSenhaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="NovaSenhaTitulo">Nova senha:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group col-md-10">
                      <label for="senhaAtual">Senha Atual:</label>
                      <input value="{{ cliente.senha }}" class="form-control" type="text" name="senhaAtual" id="senhaAtual" maxlength="200" autofocus required>
                    </div>
                    <div class="form-group col-md-10">
                      <label for="novaSenha">Nova senha:</label>
                      <input value="{{ cliente.senha }}" class="form-control" type="text" name="novaSenha" id="novaSenha" maxlength="200" required>
                    </div>
                    <div class="form-group col-md-10">
                      <label for="confirmarSenha">Confirmar senha:</label>
                      <input value="{{ cliente.senha }}" class="form-control" type="text" name="confirmarSenha" id="confirmarSenha" maxlength="200" required>
                    </div>
                    <div class="form-group col-md-10">
                      <button type="button" class="btn btn-primary">Salvar</button>    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-row">
          <div class="card col-md-12">
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="compra_fiado">Fiador:</label>
                  <select value="{{ cliente.compra_fiado }}" class="form-control" type="text" name="compra_fiado" id="compra_fiado" required>
                    <option value="{{ cliente.compra_fiado }}" name="nao" id="admin">Não</option> 
                    <option value="{{ cliente.compra_fiado }}" name="nao" id="balcao">Sim</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="data_pagamento">Data de Pagamento:</label>
                  <input value="data_pagamento" class="form-control" type="date" name="data_pagamento" id="data_pagamento">
                </div>
              </div>
            </div>
          </div>  
        </div>
        <br><br><br>
        {% if cliente.id_cliente == 0 %}
          <div class="col">
               <button type='submit' name='salvaInsereUsuarioDB' id='salvaInsereUsuarioDB' class="btn btn-outline-success"><i class="fas fa-save"></i>Salvar</button>             
           </div>

        {% else %}                                    
          <div class="col"> 
            <div class="form-group">
              <button type='submit' name='salvaEditaUsuarioDB' id='salvaEditaUsuarioDB' class="btn btn-outline-success"><i class="fas fa-save"></i>Salvar</button>
                 <button type='submit' name='salvaExcluiUsuarioDB' id='salvaExcluiUsuarioDB'class="btn btn-outline-danger"><i class="far fa-trash-alt"></i>Excluir</button>
           </div>                      
          </div> 
        {% endif %}
      <br>
      <br>
    </div>
{% endblock %}
            
{% block footer %}{% endblock %}

{% block js %}
  <script>
    // Sempre pega a url da barra de endereço
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    
    $(document).ready(function () {
      //Verifica se o login existe ou não
      $('#login').keyup(function (e) {
        if (e.target.value.length > 0) {
          $.post($SCRIPT_ROOT + "", {
            login: $('#login').val()
          }, function (data) {
            if (data.erro) {
              console.log(data.mensagem_exception);
            }
            else if (data.login_existe) {
              $('#login').addClass('is-invalid').removeClass('is-valid');
              $("button[name='salvaUsuarioDB']").attr('disabled', true);
            }
            else {
              $('#login').addClass('is-valid').removeClass('is-invalid');
              $("button[name='salvaUsuarioDB']").attr('disabled', false)
            }
          })
        }
        else {
          $('#login').removeClass('is-valid').removeClass('is-invalid');
        }
      })
    })

      //Mascaras 
      $(document).ready(function(){
	  $("#cep").mask("99.999-999");
    $("#telefone").mask("(99) 9999-99999");
    });
    
    </script>
{% endblock %}