{% extends 'modelo.html' %}

{% block title %}Lista de Produto{% endblock %}

{% block style %}
<style>
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

</style>
{% endblock %}


{% block content %}
    <div class="col-12">
      <br>
      <h1>Lista de Produtos:</h1>
      <br>
          <form action="{{ url_for('produto.formProduto') }}" method='POST' name='editProduto'>
            <button class="btn btn-outline-danger" type='submit' name='formNovoProduto'><i class='fas fa-plus-circle'></i>Novo Produto</button>
          </form>
      <br>  
      <table class="table table-md table-houver table-responsive">
        <thead class="thead-light"> 
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor Un.</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
          {% if result %}
          {% for row in result %}
              <tr >
                <th scope='row'> {{ row[0] }}</th>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td><img src='{{ row[4] }}' width='50' id="myImg"></td>
                <td>
                  <form action='{{ url_for('produto.formEditProduto') }}' method='POST' name='editProduto'>
                      <input type='hidden' name='id_produto' value='{{ row[0] }}'>
                      <button type='submit' name='formEditProduto'><i class='fas fa-edit'></i></button>
                  </form>
                </td>
                <td>                  
                </td>
                <div id="myModal" class="modal">
                  <span class="close">&times;</span>
                  <img class="modal-content" id="img01">
                  <div id="caption"></div>
                </div>
              </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
  <script>
    
    $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

    $("form[name='deleteProduto']").submit(function (e) {
      e.preventDefault(); // parar o envio para poder fazer manualmente
      swal({ // abre um popup pedindo a confirmação do usuário
        title:"Aviso",
        text:"Deseja realmente excluir o produto" + $(e.target)[0][0].value + " ?",
        type:"warning",showCancelButton:true,confirmButtonClass:"btn-danger",confirmButtonText:"Sim",cancelButtonText:'Cancelar',closeOnConfirm:false
      },
        function () {
          deletarProduto($(e.target)[0][0].value);// Retorna o valor que está no id do produto escolhido);
        });
    })
      function deletarProduto(idProduto) {
        $.post($SCRIPT_ROOT + "", {
          id_produto: idProduto
          }, function (data) {
                if (!data.erro) {
                  swal({
                    title:"Aviso",
                    text:data.mensagem = "Deletado com sucesso!",
                    type:"success",
                    confirmButtonClass:"btn-success",
                    confirmButtonText:"Ok",
                    closeOnConfirm:false,
                    closeOnCancel:false
                    },
                    function (isConfirm) {
                      if (isConfirm) {
                        window.location.replace($SCRIPT_ROOT + "");
                      }
                  });
                }
                else {
                  swal("", data.mensagem + '\n' + data.mensagem_exception, "error");
                }
              }
        )
      }



      //AINDA NÂO ESTA 100% - Só paga a 1º imagem

      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the image and insert it inside the modal - use its "alt" text as a caption
      var img = document.getElementById("myImg");
      var modalImg = document.getElementById("img01");
      var captionText = document.getElementById("caption");
      img.onclick = function(){
         modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() { 
      modal.style.display = "none";
      }


    //Tempo de Sessão
    var tempo = new Number();
  // Tempo em segundos
  tempo = 900;

  function startCountdown(){

    // Se o tempo não for zerado
    if((tempo - 1) >= 0){

      // Pega a parte inteira dos minutos
      var min = parseInt(tempo/60);
      // Calcula os segundos restantes
      var seg = tempo%60;

      // Formata o número menor que dez, ex: 08, 07, ...
      if(min < 10){
        min = "0"+min;
        min = min.substr(0, 2);
      }
      if(seg <=9){
        seg = "0"+seg;
      }

      // Cria a variável para formatar no estilo hora/cronômetro
      horaImprimivel = '00:' + min + ':' + seg;
      //JQuery pra setar o valor
      $("#sessao").html(horaImprimivel);

      // Define que a função será executada novamente em 1000ms = 1 segundo
      setTimeout('startCountdown()',1000);

      // diminui o tempo
      tempo--;

      // Quando o contador chegar a zero faz esta ação
    } else {
      window.open('http://127.0.0.1:5000/', '_self');
    }

  }

  // Chama a função ao carregar a tela
  startCountdown();
  </script>
{% endblock %}