{% extends "modelo.html" %}
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Cadastro de Pedidos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.2-dist/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='coffee.ico') }}"/>
  {% endblock %}  
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Pastelaria do zé</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home.home') }}">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('cliente.formListaClientes') }}">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('produto.formListaProduto') }}">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('pedido.formListaPedido') }}">Pedidos</a>
          </li>
        </ul>
      </div>
    </nav> 
            
    {% block content %}
      <div class="col-12">
        <br>
        <h1>Cadastro de Pedidos</h1>
        <br>
        <br>
        <form action="" method="POST">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Número do Pedido:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Nome do Cliente:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Telefone:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Código do Cliente:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Endereço:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-1">
              <label for="inputEmail4">Número:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-2">
              <label for="inputEmail4">CEP:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Bairro:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Cidade:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="inputAddress">Data/Hora:</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="DD/MM/YYYY --:--">
          </div>
          <div class="form-group">
            <label for="inputAddress">Observações:</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="">
          </div>
                     
          <br>
          <hr>
          <br>
        
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Produto:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
          <div class="form-group col-md-2">
            <label for="inputEmail4">Descrição:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Preço:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Quantidade:</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputEmail4">Total R$:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Observações:</label>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Adicionar</button>
          <button type="submit" class="btn btn-success">Salvar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        
        <br>
        <hr>
        <br>
        
        <div class="container">
          <div class="row">
            <div class="col-6">
              <hr>
              <table id="example" class="display" style="width:100%">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Total</th>
                    <th>Observações</th>
                  </tr>
                </thead>
              </table>
              <hr>
              <table id="example" class="display" style="width:100%">
                <thead>
                  <tr>
                    <th>1</th>
                    <th>Pastel</th>
                    <th>R$ 4,50</th>
                    <th>1</th>
                    <th>R$ 4,50</th>
                    <th>N/A</th>
                    <th></th>
                  </tr>
                </thead>
              </table>
          </div>
        </div>
      </div>
    {% endblock %}
      <br>
      <br>
    
    {% block footer %}
    <footer>
      <div class="col-8">
        &copy; Copyright 2020 by <a href="http://127.0.0.1:5000/">Eduardo Ortiz</a>.
      </div>
    </footer>
    {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap-4.5.2-dist/js/bootstrap.min.js') }}"></script>
</body>
</html>